// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.roboto-condensed-<uniquifier> {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

[title~="tienich1"]:link{
    color: #87fc11;
}

.logo{
    width: 100%;
}

.click.click1 {
    margin-left: 10%;
}

.tienich{
    width: 280px;
    height: 60px;
    background-color: blueviolet;
    border: 10px solid blue;
    border-radius: 20px;
}

[title~="tienich1"]:visited{
    color: rgb(16, 12, 216);
}

h1{
    color: blueviolet;
    font-size: 50px;
    font-style: italic;
}

.Biologica{
    color: rgb(0, 31, 205);
    font-size: 20px;
    font-style: italic;
}

body{
    font-style: italic;
}

h2:target{
    color: #5303ff;
    font-family: "Roboto Condensed", sans-serif;
}

.IMGG {
    height: 100px;
    width: 100px;
    border: 5px solid blue;
    border-radius: 500px;
    margin-left: 20px;
}

.logo{
    height: 25vh;
    background-image: url(./img/background.jpg);
    background-size: cover;
}

.click{
    text-decoration: none;
    background-color: #87fc11;
    border-radius: 999px;
    width: 84px;
    padding: 8px;
    display: inline-block;
    text-align: center;
    margin-left: 25px;
    font-family: "Roboto Condensed", sans-serif;
}

.click:hover{
    color: white;
    background-color: blueviolet;
}

body{
    background-color: rgb(114, 204, 240);
}

.boxtest {
    height: 200px;
    width: 200px;
    background-color: red;
    overflow: auto;
    overscroll-behavior: contain;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #b8d4ff;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #02a9fd;
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ef7199;
  }